
  <nav class="navbar navbar-light bg-primary" >
    <a class="navbar-brand  font-weight-bold" style="color:#ffffff; font-size: 30px;" href="#">Virtual Iot Lab</a>
  </nav>

<div class="container-fluid ">
  <div class="row">
    <div class="col-3  toolbox ">
      <div class="card" style="width: 18rem;">
          <div class="box"  dragula="COPYABLE"   id="left">
              <img class="card-img-top" id="ball"  src="../assets/arduino-2168193_960_720.png" alt="Card image cap" width="150" height="150">
          </div>
        
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
        <hr>
      <div class="card" style="width: 18rem;">
       <div class="box" dragula="COPYABLE" id="left"><img class="card-img-top image" src="../assets/raspberry-pi-3-crash-course-e1507096866255.png" alt="Card image cap" width="150" height="150"></div> 
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="box"  dragula="COPYABLE"   id="left">
            <img class="card-img-top" id="ball"  src="../assets/battery9V.png" alt="Card image cap" width="150" height="150">
        </div>
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="box"  dragula="COPYABLE"   id="left">
          <img class="card-img-top" id="ball"  src="../assets/led.png" alt="Card image cap" width="150" height="150">
      </div>
    
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="box"  dragula="COPYABLE"   id="left">
        <img class="card-img-top" id="ball"  src="../assets/motorDCArduinoKit.png" alt="Card image cap" width="150" height="150">
    </div>
  
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="box"  dragula="COPYABLE"   id="left">
      <img class="card-img-top" id="ball"  src="../assets/sensorTemperature.png" alt="Card image cap" width="150" height="150">
  </div>

<div class="card-body">
  <h5 class="card-title">Card title</h5>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  
</div>
</div>
    </div>
    <div class="col-8  canvas box" id="right" dragula="COPYABLE" [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }" #myBounds >
        
    </div>
  </div>
</div>


<script>
  
</script>